<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <script src="<%= jsPath %>/modernizr.js" type="text/javascript"></script>
    <link href="<%= cssPath %>/main.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div data-hypernova-key="Root" data-hypernova-id="1"></div>
    <script type="application/json" data-hypernova-key="Root" data-hypernova-id="1"><!--{"url": "/"}--></script>

    <script src="<%= jsPath %>/vendor.js" type="text/javascript"></script>
    <script src="<%= jsPath %>/main.js" type="text/javascript"></script>
</body>
</html>
